main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#juego {
    margin-top: 15px;
}

body {
    background-color: #70557e;
}

#changelogs {
    margin: auto;
    position: relative;
    width: 80%;
    max-width: 400px;
    height: 60%;
    overflow: auto;
    margin-bottom: 20px;

}